.cart-summary-line.cart-total.is-rounded .label {
    font-weight: bold;
}

.cart-rounding {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-rounding-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cart-summary-line {
    text-align: left;
}

.cart-summary-line > div:last-child {
    display: none;
}

.btn-cart-rounding {
    display: inline;
}

.cart-grid-right .cart-rounding-button-container {
    text-align: center;
}

.btn-cart-rounding:hover {
    background-color: #3aa18b; /* Couleur de fond au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Ombre au survol */
}

.cart-detailed-totals .card-body {
    padding-bottom: 0;
}

.cart-detailed-totals .card-body.cart-summary-totals {
    padding-top: 0;
}

.row.is-rounded {
    margin-right: 0;
    margin-left: 0;
}